*.class
**/target
**/webapp/userfiles
**/WEB-INF/classes
**/logs/log*.log

.classpath
.project

.idea
*.ipr
*.iml
*.iws
*.lic
rebel.xml
/.factorypath
/.springBeans
/target/
/.apt_generated/
/bin/
/.apt_generated_tests/
/.settings/

!/src/main/resources/application.yml
!/src/main/resources/application-dev.yml
!/src/main/resources/application-prod.yml
!/src/main/resources/sharding.yaml
